.font1 {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.font2 {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

.bannar {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    /* color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    margin: 50px auto;
    background-color: #070211, #07021100;

}

.bannar-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin: 0;
}

.bannar-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px 200px;
    margin: 0px;
}

.offer {
    text-align: center;

}

.new-year-wish {
    width: 802.9px;
    height: 500px;
    padding-bottom: 120px;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
    padding-top: 120px;
    margin-bottom: 0;
}

.off-description {
    padding-top: 0;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.off-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
    margin-top: 0;
}

.welcoming {
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    color: #070211, #07021100;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.welcoming-massage {
    padding-top: 126px;
    padding-left: 126px;
}

.welcoming-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-bottom: 24px;
}

.welcoming-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.join {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(240, 21, 6);
    border: none;
    border-radius: 5px;

}

.btn1 {
    padding-left: 158px;
    padding-bottom: 142px;
}

.year {
    width: 319px;
    height: 464px;
    padding: 68px 135px 68px 0px;

}