.font1 {
    font-family: 'Merriweather';

}

.font2 {
    font-family: 'Inter';
}

.bannar {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;

}

.bannar-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin: 0;
}

.bannar-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px 200px;
    margin: 0px;
}

.offer {
    text-align: center;

}

.new-year-wish {
    width: 802.9px;
    height: 500px;
    padding-bottom: 120px;
}

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
    padding-top: 120px;
    margin-bottom: 0;
}

.off-description {
    padding-top: 0;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.off-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
    margin-top: 0;
}

.welcoming {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    color: #070211, #07021100;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.welcoming-massage {
    padding-top: 126px;
    padding-left: 126px;
}

.welcoming-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-bottom: 24px;
}

.welcoming-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.join {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(240, 21, 6);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 30px;

}

.btn1 {
    padding-left: 158px;
    padding-bottom: 142px;
}

.year-pic {
    width: 319px;
    height: 464px;
    padding: 68px 135px 68px 0px;

}

.event-time {
    width: 1340px;
    height: 482px;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    border-radius: 10px;
}

.schadule {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    list-style: none;
    padding: 100px 385px 0;
    margin-bottom: 0;

}

.red {
    color: #F00;
}

ul li span {
    margin: 0;

}

.btn2 {
    text-align: center;
    margin: 0;
    padding-top: 48px;
}

.best-offer {
    display: flex;
    width: 1600px;
    height: 465px;
    background: #FFF;
    margin: 0 auto;
}

.offer-time {
    padding: 104px 20px 0 140px;
    width: 420px;

}

.new-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 16px;
}

.new-offer-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 0 0 20px;
}

.offer-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;

}

.celebration {
    padding: 30px;
    border: 10px solid red;
    border-radius: 100%;
    height: 375px;
}

.new-year {
    background-image: url('../images/Group\ 96.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 80px;
    margin-right: 0;

}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-top: 110px;
    margin-bottom: 16px;
}

.year-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 290px;
}

.function {
    width: 1320px;
    margin: 120px auto;
    color: white;
}

.holiday-function {
    text-align: center;
}

.function-title {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 15px;
}

.holiday-heading {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
}

.holiday-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin: 0 auto;

}
.div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}
.girls{
    position: relative;
    height: 440px;
    
}
.discount{
    position: absolute;
    left: 55%;
}
.discount-section{
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.gift-container {
    background-color: white;
    border: none;
    width: 1320px;
    margin: 0 auto;
}

.quality {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    margin: 0;
}

.gift-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
}

.gift-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 0;
    padding-bottom: 45px;
}
.gift:hover{
    background-color: rgb(14, 1, 22);
}
.gift { 
    width: 420px;
    height: 450px;
    margin: 0 17.34px 16px 0;

}

.subscribe-container {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
    text-align: center;

}

.massage {
    padding: 80px 0 40px;
    margin: 0;
}

.subscribe-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
}

.subscribe-discription {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 280px 45px;
    margin: 0;
}

.msg-input {
    gap: 0;
    padding: 0 auto;
}

.email {
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    padding: 25px 250px 25px 30px;
    border-radius: 50px 0px 0px 50px;

}

.subscribe-button {
    border: none;
    padding-right: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 55px;
}

.page-footer {
    width: 100%;
    height: 700px;
    background-color: #070211;
    margin: 0;
}

.footer-details {
    display: flex;
    justify-content: space-between;
    padding: 100px 275px 40px 140px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

hr {
    width: 1600px;
    height: 1px;
    color: rgba(255, 255, 255, 0.15);


}

.social-media {
    text-align: center;
    padding: 40px 0;

}

.icon {
    width: 64px;
    height: 64px;
    padding: 12px;
}

.credit {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 40px 140px 100px;
}